{% extends 'base.html' %}

<script>
{% block jquery %}


$( function() {
	$( "#slider-range" ).slider({
		range: true,
		min: 1975,
		max: 2018,
		values: [ 1975, 2018 ],
		slide: function( event, ui ) {
			$( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
		},
		change: function( event, ui ) {
			var sliderRange = ui.value;
			$.ajax({ 
				type: "POST",
				data: "sliderRange=" + sliderRange,
				cache: false,
				success: function(data) {
					$("body").html(data);
				}
			});
		}
	});
	$( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
	" - " + $( "#slider-range" ).slider( "values", 1 ) );
});


$(function() {
	Highcharts.chart('chart', {
		
		title: {
		    text: '{{ stateChoice }} between {{ yearlower }} and {{ yearupper }}'
		},

		xAxis: {
			minPadding: 0.05,
			maxPadding: 0.05
		},

		series: [{
			name: "Home value",
			data: [
			{% for item in stateQuery %}
			    [{{ item.year }}+
			    (({{ item.qtr }}*.25)-.125),
			    	{{principal}}/{{startHPI}}*{{item.hpi}}],
			{% endfor %}
			]
		}],

		yAxis: {
			title: {
				text: "Home Value"
			}
		},

		xAxis: {
			title: {
				text: "Year"
			}
		},

	});
})

{% endblock %}
</script>

{% block content %}

<h1>House Price Index Plotter</h1>


<div class='row'>
	<form method=post action="">{% csrf_token %}
		
		{{ form.as_p }}

<!-- 	Slider widget failure
		<p>
			<label for="amount">Year range:</label>
			<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
			<div id="slider-range"></div>
		</p> -->

		<input type=submit value=Plot>

	</form>
</div>

<div class='row'>
	{% if result != None %}
		<h2>A loan of ${{ principalInput }} over a term of {{ termInput }} years at an annual percentage rate of {{ aprInput }}% results in a monthly payment of 
			<strong style="color:red;">${{ result }}</strong>.
		</h2>
		<p>On average, a house in {{stateChoice}} worth ${{principalInput}} in Q1 {{yearlower}} would be worth ${{endValue}} in {{endYr}} (not adjusted for inflation).</p>
		<p>In {{yearlower}} dollars, the house would be worth about ${{endValueCPI}}, resulting in a real return of {{returnPct}}% over {{termCalc}} years ({{returnPctAnnual}}% per year).</p>
	{% endif %}
</div>

{% if stateQuery != None %}

{% if yearlower <= yearupper %}

	<div id="chart" style="width:100%; height:400px;"></div>

	<table class="table">
		<tr>
			<th>Year</th>
			<th>Quarter</th>
			<th>HPI</th>
			<th>CPI</th>
		</tr>
		{% for item in stateQuery %}
			<tr>
				<td>{{item.year}}</td>
				<td>{{item.qtr}}</td>
				<td>{{item.hpi}}</td>
				<td>{{item.cpi}}</td>
			</tr>
		{% endfor %}
	</table>

{% else %}

<p>In this timeline, {{yearlower}} occurred after {{yearupper}}. Please adjust interval accordingly.</p>

{% endif %}

{% endif %}


{% endblock content %}